body {
    background-image: url('../imgs/background.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.text-danger {
    color: #dc3545 !important;
}