body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.check-in-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.check-in-wrapper-item {
  display: inline-flex;

  p {
    margin-left: 5px;
  }
}

.check-in-wrapper-list {
  li {
    margin-bottom: 1rem;
  }
}
.center {
  height: 100%;

  > * {
    transform: scale(0.87);
  }
}

.badge-wrapper {
  display: flex;
  align-items: center;

  .messages {
    margin-left: 10px;

    .details {
      margin-top: 10px;
    }

    p {
      margin: 0;
    }
  }

  .header {
    font-size: 1.5em;
    font-weight: bold;

    &.fail {
      color: #940609;
    }

    &.success {
      color: green;
    }
  }
}

.attendee-container {
  background-color: #ebf0f2;
  max-height: 250px;
  min-width: 354px;
  margin-right: 40px;
  text-align: center;
  padding: 10px;
  margin: 20px 40px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

  .count {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100px;
    padding: 45px;
  }

  .bottom {
    display: flex;
    font-weight: bold;
    justify-content: end;
    margin-right: 20px;
    min-height: 66px;
    align-items: end;
  }

  p {
    font-size: 5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  span {
    margin: auto;
  }
}

.check-in-wrapper {
  display: flex;
  justify-content: space-between;
}

.scanner {
  display: flex;

  .scanner-content {
    max-width: 354px;
    margin: 20px 40px;
    text-align: center; /* Center the text */
  }

  span {
    font-weight: lighter;
    font-size: 1.3em;
  }
}

.timestamp-container {
  display: flex;
  justify-content: center;
}

.large-text {
  font-size: 30px;
  font-weight: normal;
  margin: 10px 0 20px;

  strong {
    font-weight: bold;
  }
}

.extra-bottom-space {
  margin-bottom: 40px;
}

.session-info-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  align-items: start;
}

.session-info-item {
  display: contents;

  p {
    margin: 0;
    line-height: 1.5;
  }

  b {
    white-space: nowrap;
  }
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9rem;
}
.banner-right {
  img {
    max-width: 20rem;
    height: auto;
  }
}
.page-footer {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.region4logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.region4logo img {
  width: 250px;
  height: 114px;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.room-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.room-name {
  font-size: 1.75em;
  font-weight: bold;
  margin: 10px 0 20px;
}
.room-name-number {
  font-size: 1.75em;
  font-weight: normal;
  margin: 10px 0 20px;
  text-transform: uppercase;
}
