.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the full height of the viewport */
    box-sizing: border-box;
}

.page-banner {
    color: red;
    padding: 0 15px;
    display: flex;
    justify-content: center;

    img {
        width: 250px;
        padding: 1rem 0;
    }

    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.page-content {
    flex: 1; /* Allow this section to grow and take available space */
    padding-bottom: 120px; /* Allow room for the footer */
}

.page-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    position: relative; /* Changed from fixed to relative */

    img {
        object-fit: contain;
        width: 1014px;
        height: 210;
    }
}