.page-wrapper {
    display: flex;
    flex-direction: column;
}

.page-banner {
    color: red;
    padding: 0 15px;

    img {
        width: 100%;
    }
}

.page-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}