.content-wrapper {
    margin-top: 3rem;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-heading {
    color: #40738E;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.content-sub-heading {
    text-align: center;
}

.content-children {
    margin: auto;
    width: 100%
}