.content-wrapper {
    margin-top: 3rem;
}

.content-heading {
    color: #40738E;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.content-sub-heading {
    text-align: center;
}

.content-children {
    margin: auto;
}