.content-wrapper {
    margin-top: 3rem;
    margin-left: auto; /* Set left margin to auto to center horizontally */
    margin-right: auto; /* Set right margin to auto to center horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 910px; /* Set the width to 910 pixels */
}
.content-heading {
    color: #40738E;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.content-sub-heading {
    text-align: center;
}

.content-children {
    margin: auto;
    width: 100%
}