.timestamp-wrapper {
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    margin: 1.5rem 0;
}

.timestamp-date {
    margin-bottom: 10px;
}

.timestamp-time {
    font-size: 2.5rem;
    font-weight: bold;
}